@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2');

body{
    font-family: 'Ownglyph_ParkDaHyun';
    font-weight: normal;
    font-style: normal;
}

button{
    padding: 5px 10px;
    background-color: #8553c1;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #8553c1;
}