@font-face {
    font-family: '116angmuburi';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116angmuburi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body h1 {
    font-family: '116angmuburi', sans-serif;
}

button{
    padding: 5px 10px;
    background-color: #8553c1;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #8553c1;
}